@font-face {
  font-family: "Fellix";
  src: url("../src/assets/fonts/Fellix-Thin.ttf") format("ttf");
  font-weight: 100;
}
@font-face {
  font-family: "Fellix";
  src: url("../src/assets/fonts/Fellix-Regular.ttf") format("ttf");
  font-weight: normal;
}
