@import "tailwindcss";

@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Fellix";
  src: url("./assets/fonts/Fellix-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
body {
  font-family: "Fellix", sans-serif;
}
p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Fellix", sans-serif;
}
.error-text {
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-w-70 {
    width: 60% !important;
  }
}
.checkbox-text {
  font-size: 13px !important;
}

.shadow-four-sides {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-text {
  font-size: 14px;
}
h2 {
  font-family: "Fellix", sans-serif;
  font-weight: 100;
}
.strip-text {
  font-size: 40px !important;
  color: white;
  font-weight: normal;
  font-family: "Fellix", sans-serif !important;
}
.font-size-40 {
  font-size: 20px !important;
}
