@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
body {
  /* font-family: "Roboto", sans-serif; */
}
p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Fellix" "sans-serif";
}
.error-text {
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-w-70 {
    width: 60% !important;
  }
}
.checkbox-text {
  font-size: 13px !important;
}
/* custom.css */

.shadow-four-sides {
  /* basic shadow on all edges */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.footer-text {
  font-size: 14px;
}
h2 {
  font-family: "Fellix" "sans-serif";
  font-weight: 100;
}
