@import "tailwindcss";

body {
  font-family: "Roboto", sans-serif !important;
}

p {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.error-text {
  font-size: 10px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet-w-70 {
    width: 60% !important;
  }
}
.checkbox-text {
  font-size: 13px !important;
}

.shadow-four-sides {
  box-shadow: 0 7px 29px 0 rgba(0, 0, 0, 0.22);
}
.footer-text {
  font-size: 14px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.strip-text {
  font-size: 40px !important;
  color: white;
  font-weight: 300;
 font-family: "Roboto", sans-serif !important;
}
.font-size-40 {
  font-size: 20px !important;
}
